/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#dewit {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#mainframe {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}


#breadcrumb {
    margin: 2;
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: center;
}

#toplist {
    margin: 2;
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: top;
}


#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}



